*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body{
    height : 100%;
    width : 100%;	
    background:linear-gradient(#4a4fb9,#789789);
}
.container{
        display:flex;
        justify-content:center;
        align-items:center;
        height:100vh;
}
.inputCon{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-radius: 5px;
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
}
.container input{
    font-size: 2rem;
    text-align: left;
    border:none;
    
}
input:focus{
    outline: none;
}
.unhide{
    font-size: 30px;
}
.hide{
    font-size: 30px;
    color: red;
}